{% extends 'base.html' %}
{% block head %}
 
{% endblock %}
{% block body %}
<div class="login-fields">
    <form action="/login" method = "POST">
        <h2>Sign In Here</h2>
        <p>Username<input type = "text" name = "name" placeholder="username.."/></p>
        <p>Password<input type = "text" name = "password" placeholder="password.."/></p>
        <p><input type = "submit" name="submit" value = "Login"  class="signInButton"/>
        <input type="submit" value="Sign Up" name="submit" class="signInButton"></p>
    </form>
    
</div>
{% endblock %}